.bx1{
    background-color: green;
    width : 25vw;
}
.bx2{
    background-color: rgb(225, 95, 8);
    width : 50vw;
}
.bx3{
    background-color: rgb(176, 247, 23);
    width : 75vw;
} 
.bx4{
    background-color: rgb(8, 20, 8);
    width : 100vw;
}